<div class="ErrorDiv" style="margin-top:50px;align-content:center">
    <h1 class="SadSmiley">:-(</h1>
    <h2 class="Oopstitle">Oops, Something went wrong!</h2>
    <p class="SupportMessage">Please contact <a href="#">Support Team</a></p>
</div>
